:root {
  --base-font-size: 16px;
  --blue-dark: #032645;
  --blue-medium_2: #2f6587;
  --blue-medium: #3582B1;
  --blue-medium_3: #4f9ac8;
  --blue-light_2: #bacfff;
  --blue-light: #c6e3fb;
  --blue-light_3: #7abff8;
  --black: #333333;
  --gray: #aaa;
  --off-white: #F5F5F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--blue-medium_3);
  font-family: 'Roboto', sans-serif;
  font-size: var(--base-font-size);
}

img {
  width: 300px;
  transition: transform 0.3s ease;
  transform-origin: center bottom;
}

textarea {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 0.3125rem;
  resize: none;
  overflow-y: auto;
  max-height: 12.5rem;
  font-size: 1rem;
}

.input-group button {
  width: 4.375rem;
}

img:hover {
  transform: scale(1.05);
}

.primary {
  color: var(--blue-light_2);
}

.container {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vh auto;
}

.container .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header .title{
  color: white;
}

.container .header img{
  border-radius: 5px;
}

.chat-area {
  flex-grow: 1;
  padding: 3%;
  width: 100%;
  background-color: var(--off-white);
  border: 1px solid var(--blue-light);
  overflow-y: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);

}

.chat-message {
  margin-bottom: 10px;
  transition: color 0.15s, transform 0.15s;
  display: flex;
  justify-content: space-between;
}

.chat-message:hover {
  color: var(--blue-dark);
  transform: scale(1.01); /
}

.chat-message img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 5px;
}

.chat-message .copy-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  color: var(--blue-medium_2);
  font-size: 16px;
  display: flex;
  align-items: center;
}

.chat-message .copy-button:hover {
  color: var(--blue-dark);
}

.user-message {
  background-image: linear-gradient(to left, var(--blue-light), var(--blue-light), var(--blue-light_3));

  padding: 0.8rem 1rem;
  border-radius: 5px;
  text-align: right;
  display: flex;
  flex-direction: row-reverse;
  color:  var(--blue-medium_2);
}

.assistant-message {
  background-image: linear-gradient(to left, var(--blue-light_3), var(--blue-light), var(--blue-light));
  padding: 0.8rem 1rem;
  border-radius: 5px;
  min-height: 3rem;
  color:  var(--blue-medium_2);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.chat-message.loading {
  position: relative;
}

.chat-message.loading::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid var(--blue-medium);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}

@media screen and (max-width: 600px) {
  .header{
    display: flex;
    justify-content: space-between;
  }

  .image-container{
    display: flex;
    justify-content: flex-end;
    width: 150px
  }

  h3{
    font-size: var(--base-font-size);
  }

  img{
    width: 150px
  }
}